@import '~antd/dist/antd.css';

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/assets/fonts/FantasqueSansMono-Regular.eot'); /* IE 9 Compatibility Mode */
  src: url('/assets/fonts/FantasqueSansMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
       url('/assets/fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('/assets/fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('/assets/fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  max-width: 640px;
  margin: 0 auto;
}

.App .app-header-logo {
  font-size: 2em;
  font-family: 'Fantasque Sans Mono', monospace;
}
.App .app-header-menu {
  text-align: right;
  padding-top: 1em;
}

.App .side-padding {
  padding: 0 16px;
}

.App .align-right {
  text-align: right;
}

.qrcode-popover {
  width: 256px;
}

.qr-svg-cell-filled {
  fill: #000000;
}

.qr-svg-cell-empty {
  fill: #FFFFFF;
}

.App .app-menu,
.App .lists-block,
.App .new-list-block {
  margin-bottom: 8px;
}

.App .ant-collapse-header {
  font-weight: bold;
}

.App .ant-select {
  width: 100%;
}

.App .ant-list-item-action > li:last-child {
  padding-right: 0;
}

.App .list-item {
  display: flex;
  flex: 1 1;
}
.App .list-item-checked {
  text-decoration: line-through;
}
.App .list-item-checkbox {
  margin-right: 16px;
}
